<h1 mat-dialog-title class="text-center">Add new Gateway</h1>
<div mat-dialog-content class="text-center">
  <form [formGroup]="gatewayForm">
    <mat-form-field class="mat-input" appearance="fill">
      <mat-label>Gateway name</mat-label>
      <input formControlName="name" matInput type="text">
    </mat-form-field>
    <mat-form-field class="mat-input" appearance="fill">
      <mat-label>Gateway serial number</mat-label>
      <input formControlName="serial_number" matInput type="text">
    </mat-form-field>
    <mat-form-field class="mat-input" appearance="fill">
      <mat-label>Gateway IP(v4)</mat-label>
      <input formControlName="ipV4" matInput type="text">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button mat-stroked-button (click)="close()" class="cancel">Cancel</button>
  <button mat-stroked-button [disabled]="gatewayForm.invalid" type="submit" (click)="submit()"
    class="confirm">Submit</button>
</div>
