.gateway-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid #3896ab;
  padding-bottom: 1rem;
  padding-top: 1rem;

  .info-item {
    flex-grow: 1;
    font-size: 1rem;
    .text {
      margin-right: 1rem;
      font-weight: 700;
    }
    .value {
      font-weight: 400;
    }
  }
}
.title {
  width: 50%;
  margin: auto;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 200%;
  background: #3896ab;
  color: #fff;
  text-align: center;
  border-radius: 20px;
}
